<div class="center-box thank-you">
	<h3 class="text-center">FAQ:</h3>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>How do I RVSP?</p>
	<h3>A:</h3> 
	<p>Please click the RVSP button on the top left of the page and fill out the information.</p>
	<p>____________________________________________</p>
	<h3>Q:</h3>
	<p>Where are you registered?</p>
	<h3>A:</h3> 
	<p><a href=https://www.blueprintregistry.com/registry/Arimoto-Jonas>https://www.blueprintregistry.com/registry/Arimoto-Jonas</a></p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>Are there any hotel discounts?</p>
	<h3>A:</h3> 
	<p>Yes! There are 3 hotels within 1.2 miles of the wedding location and each one offers discounted room rates. If you are planning to stay at any of the discounted hotels, please coordinate with Lisa or Dustin to set up room blocks.</p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>Will there be shuttle service at the hotels?</p>
	<h3>A:</h3> 
	<p>The Hampton Inn offers complementary shuttle service to and from Wedgewood Weddings as long as we have 10+ rooms booked for our party. Lisa and Dustin may coordinate other transportation options if needed.</p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>Will the wedding and reception be indoors or outdoors?</p>
	<h3>A:</h3> 
	<p>The ceremony will be outdoors. If inclement weather, the wedding will be moved inside the day of. The reception will be indoors, but feel free to eat, drink, and socialize outside!</p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>What type of food will there be?</p>
	<h3>A:</h3> 
	<p>Check back later for the official menu, but there will be passed hors d'oeuvres during the first hour of the reception followed by a buffet dinner which will include salad, meats, vegetables, and a carving station.</p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>What type of drinks will be served?</p>
	<h3>A:</h3> 
	<p>Water, punch, tea, sodas, beer, wine, champagne, and well drinks. Please bring an ID for those 21 and over.</p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>What activities will there be?</p>
	<h3>A:</h3> 
	<p>Besides the normal wedding formalities, there will be outdoor games such as corn hole, a sauce kit (bring your own stick), </p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>I'm coming from out of state, what is there to do in the area before or after the wedding?</p>
	<h3>A:</h3> 
	<p>There are plenty of activities around the area!
	<ul>
	<li>Bring your O2 tank and visit the world famous Red Rock Amphitheater (10mi).</li>
	<li>Take in a Rockies ball game at Coors Field in Denver pending their 2019 schedule (25mi).
	<li>Watch the Avs at the Pepsi Center in Denver pending the playoff schedule (25mi)</li>
	<li>The Denver Mint in downtown Denver.</li>
	<li>The Denver Zoo and/or the Denver Museum of Nature and Science near Denver.</li>
	<li>There are also tons of shops, golf courses, trails, lakes, and streams in the area to hike, fish, and enjoy the sunshine (bring sunscreen as we are closer to the sun and you will get burned).</li>
	<li>Check out historic downtown Morrison, CO (7.6mi) or historic downtown Golden, CO (15mi)</li>
	<li>If breweries are your thing, check out the following for tours and tastings:
	Coors Brewery in Golden, CO (16mi)</li>
	<ul>
	<li>Breckenridge Brewery in Littleton, CO (8.7mi)</li>
	<li>New Belgium Brewery in Ft. Collins, CO (84mi)</li>
	<li>Budweiser Brewery in Ft. Collins, CO (83 mi)</li>
	<li>Plus tons of micro breweries in the area such as Blue Spruce Brewing, Grist Brewing Company, Living the Dream Brewing, Saint Patrick's Brewing Company, and many, many more!</li>
	</ul>
	</ul>
	</p>
	<p>____________________________________________</p>
	<h3>Q:</h3>
	<p>What are the colors?</p>
	<h3>A: </h3>
	<p>Burgundy, gold, and white.</p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>I am bringing someone under 21. Is that ok?</p>
	<h3>A:</h3> 
	<p>Yes, of course! Please let us know how many of those coming are under 21. (We get a discount for those individuals :) )</p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>How can I get from the airport to my hotel or the Littleton area?</p>
	<h3>A:</h3> 
	<p>
	<ul>
		<li>Car rentals are highly recommended so you can drive around colorful Colorado.</li>
		<li>Ride sharing services are available such as taxis, Uber, and Lyft. (be aware the airport is 47 miles from the venue)</li>
		<li>There is a light rail system that goes from DIA to Union Station in Downtown Denver and from there you can light rail to Littleton and other areas. Please visit the RTD site for maps and times. Contact Dustin if you have any questions.</li>
		<ul>
			<li><a href=http://www.rtd-denver.com/lightrail.shtml>http://www.rtd-denver.com/lightrail.shtml</a></li>
		</ul>
		<li>Pending the day and time, Lisa and/or Dustin can pick you up from the airport and take you to your hotel and give you a tour if you'd like.</li>
	</ul>
	</p>
	<p>____________________________________________</p>
	<h3>Q:</h3> 
	<p>What is the weather like at this time of year?</p>
	<h3>A:</h3> 
	<p>It could be 80 degrees and sunny, it could be 60 degrees and cloudy, it could be 40 degrees and rainy, or it can be 25 degrees and snowing. It's hard to tell, but just check the weather prior to leaving. It is more likely to be sunny and warm/hot out so my guess (on May 13, 2018 at the time of writing this) it will be 78 and partly cloudy.</p>
	<p>____________________________________________</p>
</div>