<div class="photos">
	<img src="https://thumbnails-photos.amazon.com/v1/thumbnail/qZdvMjoAQdKwNfqx4vZn8w?viewBox=673%2C942&ownerId=A3DOENTHG2PTBT" alt="" />
	<img src="https://thumbnails-photos.amazon.com/v1/thumbnail/WUkICqndQQ2-T-2U3_jSoA?viewBox=673%2C942&ownerId=A3DOENTHG2PTBT" alt="" />
	<img src="https://thumbnails-photos.amazon.com/v1/thumbnail/WgFXSsnhTXiilH6DMqkh8g?viewBox=1320%2C942&ownerId=A3DOENTHG2PTBT" alt="" />
	<img src="https://thumbnails-photos.amazon.com/v1/thumbnail/4JmCWkf7QjWiOTni03WpWw?viewBox=673%2C942&ownerId=A3DOENTHG2PTBT" alt="" />
	<img src="https://thumbnails-photos.amazon.com/v1/thumbnail/kJZtUPPDQ1eJ7fzIQDI-aw?viewBox=673%2C942&ownerId=A3DOENTHG2PTBT" alt="" />
</div>