<div class="photos">
	<img src="https://docs.google.com/uc?id=0B98Dutzpm0D4RkhhTlNUUjZMRlhVdTBrSFp1LTlSamp4MTBz" alt="" />
	<img src="https://docs.google.com/uc?id=0B98Dutzpm0D4TXFnVGRUZHk3aVVtNjlVaXZERTRJOE5ZVDFB" alt="" />
	<img src="https://docs.google.com/uc?id=0B98Dutzpm0D4azlUTjZUWlJ0bFl0cE52NFhxRU8zc1JSQzFv" alt="" />
	<img src="https://docs.google.com/uc?id=0B98Dutzpm0D4MENZYjNDVUlPRm9fRUpqQ19TbzhhcVdxSi00" alt="" />
	<img src="https://docs.google.com/uc?id=0B98Dutzpm0D4RnlBNm1jRkVBWEV2Y0lMVHFvSnh1bWcxRlI4" alt="" />
</div>