<div class="center-box thank-you">

	<h2>Colorado Ceremony and Reception: Sunday, May 19, 2019 6:00pm</h2>

	<p>Location:</p>
	<p>Wedgewood at Ken Caryl</p>
	<p>11851 Shaffer Dr</p>
	<p>Littleton, CO 80127</p>
	<p></p>

	<ul>
		<li>Arrive by 5:30-5:45pm.</li>
		<li>Ceremony begins promptly at 6:00pm.</li>
		<li>Reception and dinner will follow until 11:00pm.</li>
	</ul>
	<p>Open bar and dinner will be served during the reception. Premium cocktails will be available for additional cash</p>
	<p>Attire: Semi-formal</p>
	<p>Room discount at this hotel:</p>
	<ul>
		<li>Hampton Inn: 7611 Shaffer Pkwy. Littleton, CO 80127 (0.7mi)
		<ul>
			<li>Click the following Link:
			<p><a href=https://hamptoninn.hilton.com/en/hp/groups/personalized/D/DENLTHX-AJW-20190513/index.jhtml?WT.mc_id=POG>Click Here</a></p></li>
			<li>Group Name: Arimoto / Jonas Wedding Group</li>
			<li>Group Code: AJW</li>
			<li>You may check in as early as May 13, 2019 and check out May 20, 2019. Please reach out to Lisa or Dustin if you would like to book rooms outside of this date range.</li>
			<li>Standard King/Queen rooms: $129/night</li>
			<li>King Suites: $139/night</li>
		</ul>
	</ul>
	<p>The cutoff date for the discounted rooms is April 21, 2019.</p>
	<p>There are additional hotels nearby, but they do not offer discounted rates:</p>
	<ul>
		<li>Homewood Suites: 7630 Shaffer Pkwy, Littleton, CO 80127 (0.6mi)</li>
		<li>Holiday Inn Express &amp; Suites: 12683 W Indore Pl, Littleton, CO 80127 (1.1mi)</li>
	</ul>
	<h2>California Reception: Saturday, May 25, 2019 5:00pm</h2>

	<p>Location:</p>
	<p>Ming Dynasty</p>
	<p>1211 Broadway</p>
	<p>Sacramento, CA 95818</p>
	<p></p>

	<p>Arrive by 5:00pm. Dinner will be served.</p>

	<p>Attire: Business Casual</p>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-6 col-centered embed-responsive embed-responsive-16by9">.YouTube
          
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3075.5007775584654!2d-105.1331093846296!3d39.57086277947242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b794c303522a7%3A0x498e77417a99fcaa!2s11851+Shaffer+Dr%2C+Littleton%2C+CO+80127!5e0!3m2!1sen!2sus!4v1527055110315" width="900" height="750" frameborder="2" style="border:2" allowfullscreen></iframe>
    </div>
</div>