<div class="center-box thank-you">
  <h2 class="text-center">Thank You From The Bottom of Our Hearts</h2>
  <p>Thank you for submiting your RSVP to our big day. We are excited to start this new chapter in our lives. We cannot wait to see you at the celebration of our union in marriage.</p>